.friends-tab {
  max-width: 600px;
  margin: 20px auto;
  padding: 0 20px;
}

.friends-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.friend-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

.friend-name {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.send-request-btn {
  background-color: #f5ba13;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.send-request-btn:hover {
  background-color: #f7ca4e;
}

.header1 {
  font-family: 'Baloo 2', cursive;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color: #f5ba13;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

